.head-spacer
{
    margin-top: 10px;
}

.footer-spacer
{
    margin-top: 10px;
}

#nav-menu {
    padding-bottom: 10px;
}

#nav-menu button[aria-expanded="false"]:hover {
    background-color: #b0b0ff
}

#nav-menu button[aria-expanded="true"] {
    background-color: #404080;
    color: white;
}

#nav-menu button[aria-expanded="true"]:hover {
    background-color: #8080a0
}

.nav-menu-category {
    float: left;
}

.accordion-collapse {
    padding: 6px;
}