{% extends 'base_template.html' %}

{% block 'head' %}
    <title>Все обращения</title>
{% endblock %}


{% block 'body' %}
<h1>Все заявления</h1>

    <script>
        $(document).ready(function () {
            $("#appeal-search-box").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#appeal-table tbody tr").filter(function () {
                    $(this).toggle($(this).text()
                      .toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <input class="form-control" id="appeal-search-box" type="text" placeholder="Введите поисковый запрос">
    {% include 'appeal_render.html' %}
    <p><p>
        <h3>Среднее количество служб на обращение: {{avg_service_count|floatformat:0}}</h3><p/>
        <h3>Всего обращений: {{object_list|length}}</h3>
    </p>
{% endblock %}