<table class="table-sm" id="appeal-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Дата</th>
            <th>Как давно?</th>
            <th>Номер</th>
            <th>Номер карточки</th>
            <th>Пострадавшие</th>
            <th>Звонить?</th>
            <th>Заявитель</th>
            <th>Задействованные службы</th>
            <th>Статус</th>
            <th>Описание</th>
        </tr>
    </thead>

    <tbody>
        {% for appeal in object_list %}
        <tr>
            <td><a href="{% url appname|add:'edit_appeal' pk=appeal.id %}">{{appeal.id}}</a></td>
            <td>{{appeal.date|date:'d.m.Y H:i:s'}}</td>
            <td>{{appeal.date|timesince}}</td>
            <td>{{appeal.number}}</td>
            <td>{{appeal.card_number|default:'-'|default_if_none:'-'}}</td>
            <td>{{appeal.injured_count|default:'-'|default_if_none:'-'}}</td>
            <td>{{appeal.dont_call|yesno:'Не звонить,Звонить'}}</td>
            <td>{{appeal.applicant}}</td>
            <td>
                <ul>
                    {% for svc in appeal.services.all %}
                        <li>{{ svc }}</li>
                    {% empty %}
                        (службы не назначены)
                    {% endfor %}
                </ul>
            </td>
            <td>{{appeal.status}}</td>
            <td>{{appeal.description|default:'-'|default_if_none:'-'}}</td>
        </tr>
    </tbody>
    {% endfor %}
</table>