{% extends 'global_template.html' %}

{% block 'head' %}
    <title>Редактирование заявителя</title>
{% endblock %}


{% block 'container' %}
    <h1>Форма для создания заявителя (кастомная)</h1>

    <div id="form-container">
        <form method="POST" action="">
        {{ form.non_field_errors }}
            {% csrf_token %}
        <div class="form-field">
            <label for="{{form.surname.id_for_label}}">Фамилия: {{form.surname}}</label>
        </div>
        <div class="form-field">
            <label for="{{form.first_name.id_for_label}}">Имя: {{form.first_name}}</label>
        </div>
        <div class="form-field">
            <label for="{{form.patronymic_name.id_for_label}}">Отчество: {{form.patronymic_name}}</label>
        </div>
        <div class="form-field">
            <label for="{{form.birth_date.id_for_label}}">Дата рождения: {{form.birth_date}}</label>
            <p style="color:#ff5020;"> В формате: ГГГГ-ММ-ДД! </p>
        </div>

        <div class="form-field">
            <label for="{{form.health_state.id_for_label}}">Состояние здоровья: <br>{{form.health_state}}</label>
            <p style="color:#00e000"> Записывайте сюда любые подробности </p>
        </div>

        <div class="form-field">
            <label for="{{form.health_state.id_for_label}}">Пол: <br>{{form.gender}}</label>
            <p style="color:#00ffff">Один из двух</p>
        </div>

            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock %}